* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body {
background-color: rgb(255, 208, 0);
}
.wrapper {
    box-sizing: border-box;
    width: 27em;
    padding: 2.5em 3em;
    background-color: aqua;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: o.5em;
    box-shadow: 0 0.9em 2.8em rgba(87, 60, 0, 0.4);

}
.game-container {
    position: relative;
    width: 100%;
    display: grid;
    gap: .7em;
}
.card-container {
    position: relative;
    width: 6.3em;
    height: 6.3em;
    cursor: pointer;
}
.card-before,
.card-after {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #000;
    transition: transform 0.7s;
    backface-visibility: hidden;
}
.card-before {
    background-color: gold;
    font-size: 2.8em;
    font-weight: 600;
}
.card-after {
    background-color: aliceblue;
    transform: rotateY(180deg);
}
.card-container.flipped .card-before {
    transform: rotateY(180deg);
}
.card-container.flipped .card-after {
    transform: rotateY(0deg);
}